$theme-color: 		#E5A84F;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #E5A84F;
$brand-primary:    #E5A84F;