body{
  direction: rtl;
  overflow-y: hidden;
}
/* about us */
.sidebar .block-menu ul li {
  float: none;
}
.sidebar {
  float: right;
}
.sidebar .block-menu ul li a {
  text-align: right !important;
  padding-right: 25px !important;
}
.sidebar .block-menu ul li.menu-item--active-trail:before {
  right: 0;
  left: unset;
}
.sidebar {
  border-right: none;
  border-left: 3px solid #eee;
}
.owl-carousel .owl-stage, .flex-control-nav .owl-stage {
  float: left;
}
.block .block-title:after {
  left: unset;
  right: 0;
}
.block .block-title > span {
  font-size: 20px;
}
.recent-news-block .views-field-title {
  text-align: right;
}
#page-main-content ul li::before {
  margin-left: 0;
}
.breadcrumb-content-inner .gva-breadcrumb-content .page-title {
  text-align: right;
  margin-left: 0;
  margin-right: 20% !important;
}
/* end about us */
/* start departments section */
.sidebar-inner #block-departmentsidemenu .content .field .gva_menu .menu-item--active-trail:before {
  left: unset;
  right: 15px;
}
/* end departments section */
.topbar-left{
  float: right;
}

.topbar .topbar-left > div {
  float: right;
}

.social-list {
  float: left;

}
.two-sec-caption {float:right}
.two-sec-image {float: left}
.news-img img, .home-news-block-last-two .views-field-field-news-image {float: right}
.footer-top .navigation .gva_menu > li:after {left:0;right:auto}
.header-inner .navigation .gva_menu > li:after {
  left: 0 !important;
    right: inherit;
}
.topbar-right {
  float: left;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton {
  right: 500px;
  top: -28px;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton > li.dropbutton-toggle .dropbutton-arrow {
  right: -55%;
}
#block-topheadermenu .gva_menu > li:after {
  left: 0px;
  right: unset;
}
.navigation .gva_menu .sub-menu > li > a {
 text-align: right !important;
 padding-right: 15px;
}
#block-topbarinfo span{
  float: right;
}
.tp-caption p {
  text-align: right;
}
.logo img {
  float: left;
}
#block-searchform .form-search {
  float: left;
  width: 215px;
}
#sites_menu_link div {
  margin-left: 10px;
  float: right;
}
.views-exposed-form .form-item label {
  margin-left: 15px;
  margin-right: 0;
}
.aun-home .navigation .gva_menu {
  float: left;
}
.navigation .gva_menu > li {
  border-right: none;
}

.header-inner ul li:last-child {
  border-left: none;
}

.navigation .gva_menu > li:after {
  left: 0px;
  right: 100%;
}
.branding.logo {
  float: right;
}
.branding.logo img {
  float: right;
}
.aun-home {
  float: right;
}
.p-static {
  float: right;
}
#block-headermenu {
  direction: ltr;
}

#block-headermenu a {
}

.footer ul.menu > li {
  float: right;
}

#block-photogallery img {
  float: right;
}

#sites_menu_link {
  margin-right: 2%;
}

.welcome_header span {
  float: right;
}


#block-exposedformcoursescourse-filter label {
  float: right;
  font-size: 30px;
}

#block-exposedformcoursescourse-filter select {
  float: right;
  margin-right: 4%;
}

#block-exposedformcoursescourse-filter #edit-submit-courses {
  float: left;
}

#block-exposedformcoursescourse-filter {
  direction: rtl;
}

.news_home_more {
  float: left;
}

.news_home_title {
  float: right;
  padding-bottom: 30px;
}

#block-homenewsblock .col-lg-4 {
  margin-left: 2%;
  margin-right: 0px;
}

#block-homenewsblock .content {
  direction: rtl;
}

.action .fa {
  margin-left: 10px;
}
.footer-top .navigation .gva_menu > li {
  display: inline-block;
  vertical-align: middle;
}
#block-homeevents{
  direction: rtl;
}

.widget.gsc-icon-box.left .highlight-icon {
  padding-left: 20px;
}

#block-linkfooter h2{
  margin-right: 30px;
}

#block-views-block-news-block-1 .owl-stage , .team-carousel .owl-stage{
  float: left;
}

.sidebar .block-menu ul li a:hover {
  font-weight: normal !important;
}


@media (min-width: 992px){
  .navigation .gva_menu .sub-menu {
    right: 0;
    left: 100%;

  }
}

#block-views-block-news-block-1 .fa {
    float: right;
    margin-top: 2%;
    margin-left: 4%;
}


.owl-carousel .owl-nav > div.owl-prev {
  left: 0 !important;
}


.owl-carousel .owl-nav > div.owl-next {
  right: 0 !important;
}

.contact-info i {
  padding-right: 0px;
  padding-left: 10px;
}


.chevron.right:before {
    left: 0;
    transform: rotate(-135deg);
}

.chevron::before {
  margin-right: 0px;
  margin-left: 5px;
}


.navigation .gva_menu > li {
}


.home-events .widget.gsc-icon-box.left .highlight-icon {
    padding-right: 0px;
    border-left: .5px solid #e2e2e2;
  border-right: none;
  padding-left: 0;
  width: 20%;
}

.home-events .widget.gsc-icon-box.left .highlight_content {
    padding-right: 20px;
    padding-left: 0px;
    text-align: right;
    padding-top: 17px;
}

.home-events a {
  float: right;
  width: 100%;
}




#block-topheadermenu li {
  float: right;
}



.content_english{
	display: none !important;
}

.content_arabic{
	display : inherit !important;
}
/* start footer */
.footer-first, .footer-second, .footer-third, .footer-four {
  float: right;
}
.footer-social {
  text-align: right;
}
/* end footer */
@media (min-width: 992px) {
  .col-md-pull-8 {right:0}
  .col-md-push-4 {left: 0}
}
@media (max-width: 600px) {
  .block-dropdown-language .dropbutton-wrapper ul.dropbutton {right: 375px}
  #top_bar_info span {padding-right: 15px}
}
@media (max-width: 1200px) and (min-width: 991px) {.fa-search {left: 180px}}
@media (min-width: 1200px){.fa-search {left: 180px}}
@media (max-width: 768px) {
  #views-exposed-form-fast-search-fast-search .js-form-item:first-child select {
    margin-left: 0;
    margin-right: 13px;
  }
}
@media (min-width:991px) {.navigation .gva_menu .sub-menu {right: 0}}
@media (max-width:991px) {
  .sidebar {border-left: unset}
  .footer-top .navigation .gva_menu > li {
    margin: 5px auto;
    display: block;
  }
  .footer-top .navigation .gva_menu > li a {font-size: 20px}
  .footer-top {padding: 20px}
}
@media (min-width:501px) {
  .padding-img p:first-child {
    margin-right: 60px;
  }
  .padding-img a{
    margin-right: 60px;
  }
}

.align-left {
    float: left;
    width: 42%;
}

#block-valuesgoals img {
    float: left !important;
    width: 40%;
    padding-left: 0%;
    padding-right: 2%;
}

#block-history img {
    width: 46%;
    padding: 19px;
    float: right;
}

#block-alumnigoals, #block-alumnijoinus , #block-admissionrequirements ,#block-transferringstudents ,#block-facultyinfofornewsciencestudents ,#block-studentadvisors{
    padding: 15px 20px 0px 25px;
}
.sidebar-inner #block-departmentsidemenu .content .field .gva_menu > li a{
  padding-right: 20px;
}
