{#
/**
 * @file
 * Gavias's theme implementation to display a single Drupal page.
 */
#}

<div class="page-user-pass gva-body-page">
   {% include directory ~ '/templates/page/parts/preloader.html.twig' %}
   <div class="bg"></div>
   <div role="main" class="main main-page">
      <div class="branding text-center">
         {% if page.branding %}
            {{ page.branding }}
         {% endif %}
      </div>
      {% if page.help %}
         <div class="help show">
            <div class="container">
               <div class="content-inner">
                  {{ page.help }}
               </div>
            </div>
         </div>
      {% endif %}
      <div class="clearfix"></div>
      <div id="content" class="content content-full">
         {% if page.content %}
            <div class="content-main">
               {{ page.content }}
            </div>
         {% endif %}
      </div>
   </div>
</div>
